<html>
<head>
  <title>Training Session 2</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container mt-5">
 <form >
  <div class="form-group">
    <label for="text_box">Name</label>
    <input type="text" class="form-control" id="text_box">
  </div>
 
 
  <button type="submit" class="btn btn-success btn-default">Submit</button>
</form>

</div>

 <div class="container mt-5">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="tbody">
    <tr>
      <th scope="row">Mark</th>
      <td>

      </td>
    </tr>
    
  </tbody>
</table>
</div>
  
</body>

</html>

<script src="../model/model.js"></script>
<script src="../controller/controller.js"></script>